* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
}

.container {
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-container {
    background-color: rgb(223, 14, 14);
    margin: 10px 15px;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
}